body{
    background-color: rgb(50, 50, 50);
    margin-top: 75px;
}

.container{
    margin: 2em 4em 2em 4em;
    display: grid;
}

.footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.footer-link{
    color: white;
    text-decoration: none;
}

.footer-link:hover{
    color: rgb(172, 172, 172);
    text-decoration: none;
}

.bg-nav{
    background-color: #212121;
}

#contactbox{
    display: grid;
}

.contextbox{
    display: block;
    border: 1px rgb(36, 36, 36) solid;
    border-radius: 15px;
    color: white;
    background-color: rgb(41, 41, 41);
    padding: 10px;
    margin: 10px 30px 20px 30px;
}

.contextimg{
    width: 100%;
    height: 100%;
}

#carousel{
    height: 100%;
    width: 30%;
    align-content: center;
}

#valueimg{
    width: 75%;
    height: 75%;
}

.productbox{
    display: block;
    border: 2px rgb(41, 41, 41) solid;
    border-radius: 15px;
    background-color: rgb(41, 41, 41);
    text-align: center;
    padding: 25px 10px 10px 10px;
    margin: 10px 30px 20px 30px;
}

.productbox>h6{
    font-size: 25px;
}

.productbox>h6{
    font-size: 18px;
}

.productbox>p{
    font-family: 'Caveat', cursive;
    font-size: 22px;
}

.productbox>ul{
    text-align: left;
    font-size: 15px;
}

.productbox>.myButton{
    margin: auto;
}

.productbox>img{
    width: 256px;
    height: 256px;
}

.productbox>ul>li::marker{
    content: "+ ";
    font-size: 18px;
    font-weight: 900;
}

#newproduct>img{
    width:475px;
    height: 475px;
}

#newproduct>ul{
    display: block;
    margin-right: 40px;
    margin-left: 40px;
}

#newproduct>#newproductp{
    font-family: 'Bilbo', cursive;
    font-size: 32px;
}

#bg-newproduct>#newproduct{
    background-color: black;
    background-image: url(../images/Future/bg-landscape.png);
    background-size: cover;
}

#newproduct>h5{
    font-size: 40px;
}

.para{
    margin-bottom: 2em;
}

#icon{
    display: flex;
    margin-bottom: 2em;
}

.myButton{
    display: block;
    background-color: #14FFEC;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    margin-bottom: 1.5em;
    border: #1b1b1b 2px solid;
    color: #1b1b1b;
}

.myButton:hover{
    background-color: #0D7377;
    color: #1b1b1b;
    transition: 0.3s;
    animation: rotate 0.3s 1 linear;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
}

.myButton:active{
    background-color: #14FFEC;
}

.myButton>a{
    text-decoration: none;
    color: #1b1b1b;
}

.myButton>a:hover{
    color: #1b1b1b;
}

#popup1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.5s;
    visibility: hidden;
}

.popup {
    margin: auto;
    padding: 40px ;
    color: black;
    background: rgb(255, 250, 240);
    border-radius: 15px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

h2,.popup{
    margin-top: 0;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #14FFEC;
    cursor: pointer;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.fontspecial{
    font-family: 'Caveat', cursive;
}

.fontspecial>h2{
    font-size: 50px;
}

.container>.text-center>h1{
    font-size: 75px;
}

.container>.text-center>h2{
    font-size: 60px;
}

.chartBox{
    display: block;
    height: 500px;
    width: 500px;
    margin-bottom: 7em;
    margin-top: 1em;
}

@media screen and (max-width: 540px) {
    h1,h2,h3,h4,h5 {
        text-align: center;

    }

    h1{
        font-size: 40px;
    }

    h3{
        font-size: 30px;
    }

    .fontspecial>h2{
        font-size: 40px;
    }

    .container>.text-center>h1{
        font-size: 50px;
    }

    .container>.text-center>h2{
        font-size: 35px;
    }

    .para{
        text-align: center;
        font-size: 18px;
    }

    #icon{
        justify-content: center;
        margin: auto;
        margin-bottom: 1.5em;
        margin-top: 1em;
    }

    .container{
        margin: 2em 0 2em 0;
    }

    .myButton{
        font-size: 25px;
        margin: auto;
        margin-bottom: 1em;
    }

    .popup{
        width: 20em;
    }

    .productbox{
        margin: 10px 70px 20px 70px;
    }

    #newproduct>img{
        width: 256px;
        height: 256px;
    }

    #newproduct>h6{
        font-size: 16px;
    }

    #newproduct>h5{
        font-size: 25px;
    }

    #newproduct>#newproductp{
        font-family: 'Bilbo', cursive;
        font-size: 25px;
    }

    #newproduct>ul{
        display: block;
        margin-right: 0;
        margin-left: 0;
    }

    #newproduct>ul>li{
        margin-bottom: 10px;
    }

    .chartBox{
        height: 400px;
        width: 400px;
        margin-bottom: 3em;
        margin-top: 1em;
    }
}